*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navcontent{
    font-size: 19px;
}

.designer3{
    height:100px;
    overflow: hidden;
    position: relative;
    width: 100px;
    transform:  rotate(90deg);
    /* top: -15%; */
}
    

.main5{
    position:absolute;
    top:0;
    right: 0;
    width: 300px;
    height: 300px;
    background-color: white;
    transform-origin: top right;
    transform: rotate(45deg);
}

.main6{
    position:absolute;
    bottom:0;
    right: 0;
    width: 300px;
    height: 300px;
    background-color: white;
    transform-origin: bottom right;
    transform: rotate(-45deg);
}

.footer, .sub_footer{
    background: #292929;
}

.logo{
    height: 25px;
    color: white;
}

.design{
    top: 10%;
    height:60px;
    overflow: hidden;
    position: relative;
    width: 160px;

}

.main3{
    position:absolute;
    top:0;
    right: 0;
    width: 400px;
    height: 150px;
    background-color: white;
    transform-origin: top right;
    transform: rotate(45deg);
}

.main4{
    position:absolute;
    bottom:0;
    right: 0;
    width: 400px;
    height: 150px;
    background-color: white;
    transform-origin: bottom right;
    transform: rotate(-45deg);
}

.design1{
    top: 10%;
    height:60px;
    overflow: hidden;
    position: relative;
    width: 180px;
    font-size: 20px;

}

.texts{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: #DC3545;
    font-size: 26px;
    font-weight: bold;
}

.texts2{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: #DC3545;
    font-size: 20px;
    font-weight: bold;
}